/*
 * Empty Stylesheet file.
 */

/*#5dadec  light   //#5dadec dark*/
.mainFxmlClass {

    
}

#headerPanel{
    -fx-background-color:  #5dadec;
}

#contentPanel{
    -fx-background-color: #003A6C;
}

#headerPanel Label{
    -fx-text-fill: #003A6C;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

#required{
    -fx-text-fill: #ffd400;
}

.panel{
    -fx-min-height:  0.0;
    -fx-minw-width: 0.0;
    -fx-pref-height: 100.0;
    -fx-pref-width: 160.0;
}

.button{
    -fx-pref-width: 100px;
}

.radio-button, .label{
    -fx-text-fill: #5dadec;
}

.combo-box{
    -fx-pref-width: 150.0;
    -fx-pref-height: 50.0;
}

.validationAsterisk{
    -fx-text-fill: red;
}

.screenTitle{
    -fx-font-family: Arial;
    -fx-font-size: 25px;
    -fx-text-decoration: underline;
    -fx-text-fill: #ffd400; 
}